html[data-tema='escuro'] {
    --corFundo: #252525;
    --corFundo2: #333;
    --sombra: 0px 0px 5px 7px rgba(20, 20, 20, 0.15);
    --sombra2: 0px 0px 5px 1px rgba(255, 255, 255, 0.15);

    --corTxt: #FFFFFF;
    --corTxt2: #000000;
    --corBase: #4423fc;
    --corDestaque: #4423ba;

    --corBordas: #d3d3d3;
}

html[data-tema='claro'] {
    --corFundo: #f5f5f5;
    --corFundo2: #ffffff;
    --sombra: 0px 0px 5px 7px rgba(0, 0, 0, 0.1);
    --sombra2: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);

    --corTxt: #1e1e1e;
    --corTxt2: #FFFFFF;
    --corBase: #5c3eff;
    --corDestaque: #3f2bb8;

    --corBordas: #cccccc;
}

.nav-bar{
    width: 250px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    position: fixed;
    font-weight: bold;
    background: var(--corFundo2);
    box-shadow: var(--sombra);
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 25px;
    width: 90%;
    border-bottom: 2px solid var(--corBase);
    color: var(--corBase);
}
.nav-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.nav-items a{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: var(--corTxt);
    padding: 15px 20px;
    border-radius: 15px;
    &:hover{
        color: var(--corBase);
    }
}
.nav-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.nav-footer #sair{
    width: 85px;
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: #ff3434;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: #d12d2d;
        box-shadow: var(--sombra);
    }
}

.nav-footer button{
    font-size: 35px;
    border-radius: 50%;
    color: var(--corTxt);
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    &:hover{
        color: var(--corBase);
    }
}

.ativo{
    background: rgba(20, 20, 20, 0.15);
    color: var(--corBase);
}

.ativo i{
    color: var(--corBase);
}