.nav-bar{
    width: 250px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    position: fixed;
    font-weight: bold;
    background: var(--corFundo2);
    box-shadow: var(--sombra);
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 25px;
    width: 90%;
    border-bottom: 2px solid var(--corBase);
    color: var(--corBase);
}
.nav-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.nav-items a{
    width: 90%;
    font-size: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--corTxt);
    padding: 15px;
    border-radius: 15px;
    &:hover{
        justify-content: unset;
        color: var(--corBase);
        font-size: 15px;
        padding: 15px 20px;
    }
}
.nav-items i{
    font-size: 20px;
}

.nav-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 15px;
}

.nav-footer #sair{
    width: 85px;
    height: 40px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: #ff3434;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: #d12d2d;
        box-shadow: var(--sombra);
    }
}

.nav-footer button{
    font-size: 35px;
    border-radius: 50%;
    color: var(--corTxt);
    cursor: pointer;
    padding: 10px;
    background: none;
    border: none;
    &:hover{
        color: var(--corBase);
    }
}

.ativo{
    background: rgba(20, 20, 20, 0.15);
    color: var(--corBase);
}

.ativo i{
    color: var(--corBase);
}