@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&display=swap');

* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  font-family: "TASA Orbiter", sans-serif;

  box-sizing: border-box;
  outline: none;
  transition: 0.3s all linear;
}

body {
  width: 100%;
  height: 100vh;
}

html[data-tema='escuro'] {
  --corFundo: #252525;
  --corFundo2: #333;
  --sombra: 0px 0px 5px 7px rgba(20, 20, 20, 0.15);
  --sombra2: 0px 0px 5px 1px rgba(255, 255, 255, 0.15);

  --corTxt: #FFFFFF;
  --corTxt2: #000000;
  --corBase: #4423fc;
  --corDestaque: #4423ba;

  --corBordas: #d3d3d3;
}

html[data-tema='claro'] {
  --corFundo: #f5f5f5;
  --corFundo2: #ffffff;
  --sombra: 0px 0px 5px 7px rgba(0, 0, 0, 0.1);
  --sombra2: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);

  --corTxt: #1e1e1e;
  --corTxt2: #FFFFFF;
  --corBase: #5c3eff;
  --corDestaque: #3f2bb8;

  --corBordas: #cccccc;
}

.sec-header-avatar {
  width: 65px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--corBase)0%, var(--corDestaque) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--corTxt);
  font-size: 25px;
  font-weight: bold;
  animation: avatar infinite 5s ease-in-out;
}

@keyframes avatar {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 50%;
  }
}