@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=TASA+Orbiter:wght@400..800&display=swap');

* {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;

  font-family: "TASA Orbiter", sans-serif;

  box-sizing: border-box;
  outline: none;
  transition: 0.3s all linear;
}

body {
  width: 100%;
  height: 100vh;
}

html[data-tema='escuro'] {
  /* --corFundo: #252525;
  --corFundo2: #333; */
  --corFundo: #0f0f0f;
  --corFundo2: #181818;
  --sombra: 0px 0px 5px 7px rgba(20, 20, 20, 0.15);
  --sombra2: 0px 0px 5px 1px rgba(255, 255, 255, 0.15);

  --corTxt: #FFFFFF;
  --corTxt2: #000000;
  --corBase: #4423fc;
  --corDestaque: #4423ba;

  --corBordas: #d3d3d3;
}

html[data-tema='claro'] {
  --corFundo: #f5f5f5;
  --corFundo2: #ffffff;
  --sombra: 0px 0px 5px 7px rgba(0, 0, 0, 0.1);
  --sombra2: 0px 0px 5px 1px rgba(0, 0, 0, 0.05);

  --corTxt: #1e1e1e;
  --corTxt2: #FFFFFF;
  --corBase: #5c3eff;
  --corDestaque: #3f2bb8;

  --corBordas: #cccccc;
}

.container-principal {
  padding-left: 350px;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  background: var(--corFundo);
  height: 100%;
  width: 100%;
  color: var(--corTxt);
  gap: 50px;
}

.sec-header-infos {
  margin-right: auto;
}

.sec-header {
  display: flex;
  justify-content: space-between;
  text-align: right;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid var(--corBase);
  border-radius: 5px 0px;
  width: 90%;
  align-items: center;
}

.sec-header h4 {
  color: var(--corDestaque);
  font-size: 15px;
}

.sec-header-avatar {
  width: 65px;
  height: 60px;
  border-radius: 15%;
  background: linear-gradient(90deg, var(--corBase)0%, var(--corDestaque) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 25px;
  font-weight: bold;
  animation: avatar infinite 5s ease-in-out;

  &:hover {
    background: linear-gradient(90deg, var(--corFundo2)0%, var(--corFundo2)100%);
    color: var(--corTxt);
  }

  /* rotate: 45deg; */
}

/* .sec-header p{
  rotate: -45deg;
} */

@keyframes avatar {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 25%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  color: var(--corDestaque);
}

.sec-dashboard {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.sec-dashboard .caixa {
  width: 32%;
  min-width: 450px;
  padding: 25px;
  height: 150px;
  background: var(--corFundo2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
  border-bottom: 4px solid var(--corDestaque);

  &:hover {
    box-shadow: var(--sombra);
    transform: translate(-5px, 5px);
  }
}